RewriteEngine on

# ==== Php config ======
php_value upload_max_filesize 5024M
php_value post_max_size 5024M
php_value max_execution_time 900000000
php_value max_input_time 900000000

# ===== Deny access to htaccess ======
<Files .htaccess>
Order allow,deny
Deny from all
</Files>

# ===== Disable directory browsing ======
Options -Indexes

# ===== Deny access to filenames starting with dot(.) ====
<FilesMatch "^\.">
Order allow,deny
Deny from all
</FilesMatch>

# ==== Redirect to HTTPS =======
# RewriteCond %{HTTPS} off
# RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

# ======= Redirect every request to index file =====
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-l
RewriteRule ^(.*)$ index.php/$1